<html lang="pt-br" xsi=schemaLocation="http://www.thymeleaf.org">



<head>

	<meta name="viewport" content="width=width-device, initial-scale=1.0">

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<link rel="stylesheet" href="css/login.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	
  
	
	
</head>

<body>
   <div class="container">
        <div class="form-image">
			 <p class="book-text">Livro de Receita!</p>
			 
           <h1 class="welcome-message">
                <p class="welcome-text">Bem-vindo! <span class="iconify" data-icon="bi:emoji-smile"></span></p>
              
                <p class="access-text">Acesse sua conta!</p>
            </h1>
              
             
        </div>
        <div class="form">
            <form action="#">
                <h1>    
                 <p class="logo-text">Login</p>
                </h1>

                <div class="input-group">
                    <div class="input-group">
						  </div>
						
                       <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="usuario" placeholder="Usuário">
                    </label>
                  

                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input type="password" placeholder="Senha">
                    </label> 
                </div>
                
                <div class="login-button">
    <button><a href="#"><span style="color: rgb(128, 255, 128); font-weight: bold;">Entrar</span></a></button>
</div>
            </form>
        </div>
    </div>
</body>

</html>